:root {
  /* color pallete */
  --cadmium-orange: hsla(27, 86%, 60%, 1);
  --cadmium-orange-l: hsla(27, 86%, 70%, 1);
  --cadmium-orange-d: hsla(27, 50%, 60%, 1);
  --cadmium-orange-dd: hsla(27, 50%, 50%, 1);
  --sandy: hsl(41, 65%, 72%);
  --sandy-d: hsl(41, 55%, 60%);
  --sandy-l: hsl(41, 50%, 80%);
  --raisin-black: hsl(0, 0%, 15%);
  --raisin-black-l: hsl(0, 0%, 35%);
  --raisin-black-ll:  hsl(0, 0%, 50%);
  --raisin-white: hsl(0, 0%, 90%);
  --magenta: hsl(324, 35%, 55%);
  --magenta-l: hsl(324, 30%, 65%);
  --magenta-d: hsl(324, 40%, 45%);

  }
html, body {
  overflow-x: hidden;
  /* font */
  font-family: 'Trebuchet MS', sans-serif;
}

/* ---------- nav bar ---------- */
nav {
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* sizing */
  height: 10%;
  width: 100%;
  /* display */
  display: flex;
  justify-content: right;
  align-items: center;
  /* color scheme */
  background-color: var(--raisin-black);
  color: var(--cadmium-orange);
  box-shadow: 0rem -0.2rem 1rem 0.1rem black;
}
nav > div {
  flex: 1;
}

#menu-icon {
  padding-left: 2rem;
}
#menu-icon svg {
  fill:  var(--magenta);
  border: 3px solid transparent;
  border-radius: 6px;
  opacity: 1;
  transition: 100ms;
  cursor: pointer;
}
#menu-icon svg:hover {
  border: 3px solid  var(--magenta);
  border-radius: 6px;
}
#menu-icon svg:active {
  opacity: 50%;
}

.nav-links {
  /* positioning */
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 1;
  /* sizing */
  width: 15%;
  height: 90%;
  /* flex information */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* styling */
  background-color: var(--magenta);
  box-shadow: inset 0rem -0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.6);
  color: black;
  font-size: calc(0.66vw + 10px);
}
.nav-link {
  /* centering */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* size & positioning */
  flex: 1.5;
  padding-right: 1rem;
  /* styling */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px dotted;
  border-color: white;
  box-shadow: none;
  transition: 200ms;
}
.nav-link:hover {
  background-color: var(--magenta-d);
  box-shadow: inset 0rem 0rem 0.4rem 0.1rem rgba(0, 0, 0, 0.4);
  font-size: calc(0.66vw + 11px);
}
.tbd {
  flex:3
}

a {
  color: white;
  text-decoration: none;
  /*text-shadow: 1px 1px 3px black;*/
}

nav #site-title {
  text-align: right;
  padding-right: 3rem;
}

/* ---------- content ---------- */

.content {
  /* positioning */
  position: absolute;
  margin: 0;
  top: 10%;
  left: 0;
  z-index: 2;
  /* sizing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: 400ms;
  background-color: var(--raisin-black-ll);
}
#intro h1 {
  text-shadow: 1px 1px 5px black;
  font-size: calc(2.6vw + 30px);
  margin-top: 0.4em;
}
#intro p {
  color: white;
  font-size: calc(0.66vw + 20px);
  text-shadow: 1px 1px 5px black;
  overflow: hidden;
}
#intro {
  /* sizing */
  padding: 4vw;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
  /* color scheme */
  background-color: var(--raisin-black-l);
  color: var(--cadmium-orange);
}
#prof-pic {
  float: right;
  top: 10vw;
  right: 6vw;
  height: auto;
  width: calc(20% + 30px);
  border-radius: 50%;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  transform: translate(-1.5vw, calc(-6vw + 50px));
}
#info-blurb {
  width: 70%;
}
#course-section {
  padding: 4vw;
  padding-top: 1.6vw;
  background-color: var(--sandy);
  flex: 1;
  box-shadow: inset 0rem 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.4);
  color: var(--raisin-black);
  font-size: calc(0.5vw + 16px);
}
#courses {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
#year {
  flex: 1;
  text-align: center;
}
#course-section ul {margin-left: 0; padding-left:1.2rem}
#course-section li {margin-left: 0; padding-left:0; text-align: left;}

/* fun stuff */

#fun-stuff {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  padding: 4vw;
  box-shadow: inset 0rem 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.4);
  background-color: var(--magenta-d);
  color: white;
  height: 40vh;
  font-size: calc(0.5vw + 16px);
}
